{% extends 'base.html' %}

{% block title %}
    Index!
{% endblock %}

{% block main_content %}
<script>
    function processInput() {
        var input = document.getElementById('dimension_names').value;
        var elements = input.split(' ');
        console.log(elements); // This will log the array of elements to the console
        // You can further process the elements array as needed
    }
</script>


<div class="container-fluid">
<div class="row">
    <div class="col-sm-12 col-lg-12">
    <div class="card">
        <div class="card-body clearfix">
        <div>
            <p class="h3 text-center text-primary m-t-0">评价设置</p>
        </div>
        </div>
    </div>
    </div>
</div>
</div>

<h1>评价设置</h1>
<form method="POST">
    <label for="item_name">评价项目:</label>
    <input type="text" id="item_name" name="item_name" required>
    <br>
    <label for="dimension_names">评价指标 (多个指标用空格分隔):</label>
    <input type="text" id="dimension_names" name="dimension_names" placeholder="输入多个评价指标用空格隔开" required>
    <br>
    <label for="evaluator">参与评价老师:</label>
<br>
{% for evaluator in evaluators %}
    <input type="checkbox" id="evaluator_{{ evaluator.id }}" name="evaluators" value="{{ evaluator.id }}">
    <label for="evaluator_{{ evaluator.id }}">{{ evaluator.user }}</label>
    <br>
{% endfor %}
<br>
<label for="class_name">被评价班级:</label>
<br>
{% for class in classes %}
    <input type="checkbox" id="class_{{ class.id }}" name="classes" value="{{ class.id }}">
    <label for="class_{{ class.id }}">{{ class.name }}</label>
    <br>
{% endfor %}
<br>
<label for="start_date">开始日期:</label>
<input type="date" id="start_date" name="start_date" required>
<br>
<label for="end_date">结束日期:</label>
<input type="date" id="end_date" name="end_date" required>
<br>
<label for="evaluation_loop">评价循环规则:</label>
<select id="evaluation_loop" name="evaluation_loop" required>
    <option value="monthly">每月</option>
    <option value="weekly" selected>每周</option>
    <option value="daily">每天</option>
</select>
<br>

<button type="submit">添加项目</button>
<br>
</form>

<h2>已设置评价项</h2>
<ul>
    {% for item in items %}
        <li>
            <strong>评价项：{{ item.name }}</strong>
            <ul>
                <li>评价人: {{ item.evaluators }}</li>
                <li>班级: {{ item.evaluate_classes}}</li>
                <li>评价维度: {{ item.dimensions}}</li>
                <li>开始日期: {{ item.start_date}}</li>
                <li>结束日期: {{ item.end_date}}</li>
                <li>评价周期: {{ item.loop_rule}}</li>

            </ul>
        </li>
    {% endfor %}
</ul>

{% endblock %}