{% extends "base.html" %}

{%block title%}Index!{%endblock%}

{%block main_content%}

<h1>请选择题目类型</h1>
<div data-v-9cdb4d6e="" class="list-wrap">
    <div data-v-9cdb4d6e="" class="list-item-wrap list-item-wrap-disabled">

        <div data-v-9cdb4d6e="" class="list-item" style="display: flex; align-items: center;" target="'_blank"><!----><!---->

            <img data-v-9cdb4d6e="" src="https://susuanqiniu.knowbox.cn/fe/lsc-control/icon_must_answer.png"
                alt="icon_must_answer" style="height:  80px;"><!----><!---->
            <div style="line-height: 100px;font-size: 50px;">
                <a href="list?question_type=抢答题" target="_blank" style="line-height: 100px;font-size: 50px;">抢答题</a>
            
            </div>

        </div>
    </div>

    <div data-v-9cdb4d6e="" class="list-item-wrap list-item-wrap-disabled">
        <div data-v-9cdb4d6e="" class="list-item" style="display: flex; align-items: center;"><!----><!----><!----><img
                data-v-9cdb4d6e="" src="https://susuanqiniu.knowbox.cn/fe/lsc-control/icon_rob_answer.png"
                alt="icon_rob_answer" style="height:  80px;"><!---->
            <div data-v-9cdb4d6e="" class="title van-ellipsis" style="line-height: 100px;font-size: 50px;">
                <a href="list?question_type=必答题" target="_blank" style="line-height: 100px;font-size: 50px;">必答题</a>
            </div>
        </div>
    </div>
</div>



{%endblock%}