{% extends "base.html" %}

{%block title%}问题列表{%endblock%}

{%block main_content%}


<form action="/submit_selections" method="post">
    <table class="table">
        <tr>
            <th>选择</th>
            <th>问题</th>
            <th>难度</th>
        </tr>
        {% for question in questions %}
            <tr>
                <td><input type="checkbox" name="question" value="{{ question.id }}"></td>
                <td>{{ question.title }}</td>
                <td>{{ question.level }}</td>
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="开始答题">
</form>
<button onclick="location.href='{{ url_for('end') }}'">终止答题</button>




{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}

{%endblock%}
