{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%block title%}Login!{%endblock%}



.custom-login-form {
    max-width: 300px; /* Adjust the width as needed */
    margin: 10 auto; /* Center the form */
}


{%block main_content%}


<div class="row">
    
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <h1 class="text-center">流动红旗</h1>

        <form action="." method="post" class="form form-horizontal custom-login-form" name="loginform">
            {{ wtf.form_errors(form,"only") }}

            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.user) }}<br>
            {{ wtf.form_field(form.password) }}

            <div class="form-actions text-center">
                <button name="action_save" type="submit" class="btn btn-primary">登录</button>
            </div>
        </form>

    </div>
</div>

{%endblock%}
